h2.section__title
  | The Best Credit Cards for Mother’s Day Purchases: 
  br
  | Get Cash Back and More

.cards
  .cards__item.cards__item--jewerly
    h3.cards__item-title
      | Best Credit Card for Buying Jewelry

    p.cards__item-text
      | Nice jewelry can be expensive, and you don’t want to buy the cheap stuff for your dear mother. So what do you do? How about some interest-free financing. The Discover it card can help with that.

    .cardbox

    p.cards__item-text
      | Discover gives new cardholders 15 months of 0% APR. That means you can buy whatever earrings, bracelet or necklace you want and you’ll have over a year to pay it off without accruing any interest or fees.

    p.cards__item-text
      | Even better, you’ll also earn cash back for your purchase. The Discover it card will effectively earn 2 percent back for any jewelry purchased during your first year as a cardholder. That’s because of Discover’s fantastic cashback match.


    p.cards__item-text
      | After 12 billing cycles, Discover will match every dime you earned in cash back during the previous year. So you’ll get a whopping 10 percent back for the card’s rotating bonus categories, which often include grocery stores, wholesale clubs, restaurants, Amazon and more.


    p.cards__item-text
      | You’ll also get 2 percent back for all purchases that don’t fall into a quarterly bonus category, and that includes jewelry.

  .cards__item.cards__item--dining
    h3.cards__item-title
      | Best Credit Card for Dining

    p.cards__item-text
      | Moms always like to take a break from cooking. And if you’re thinking about treating your mother to a nice meal out, consider getting the Uber Visa. You might be surprised by what this card has to offer.

    .cardbox

    p.cards__item-text
      | You’ll get 4 percent cash back at restaurants and bars, which is better than any other card. You’ll also get 2 percent back for Uber rides, in case you want to get your Mother’s Day dinner chauffeured, too.

    p.cards__item-text
      | This excellent cashback card also earns 2 percent back for all online purchases, including video and music streaming services like Netflix and Spotify. You’ll get 3 percent back for airfare and hotels and 1 percent back for everything else.

  .cards__item.cards__item--flowers
    h3.cards__item-title
      | Best Credit Card for Flowers and Greeting Cards

    p.cards__item-text
      | If you’re going with a tried-and-true gift for this Mother’s Day, the Citi Double Cash card is the way to go. Not only will you earn 2 percent cash back for flowers and greeting cards, but you’ll get 2 percent back for everything else, too.

    .cardbox

    p.cards__item-text
      | With a fixed return rate of 2 percent, this is one of the best cashback cards on the market. You don’t have to worry about bonus categories or anything else. Just pull out this card for all of your purchases, and you’ll know that you’re going to earn a bonus.

    p.cards__item-text
      | Whatever you plan to get for Mother’s Day, there’s a credit card to match your needs. You’re doing something nice for your mom, so treat yourself to a great cashback credit card, too.
