.upper__content
  p.upper__text-under-title
    | The one thing that all people have in common is a mother. As Sigmund Freud taught us, every child’s first love is for his or her mother. So we celebrate Mother’s Day not only as a national holiday, but around the globe. These Mother’s Day facts and stats are our gift of knowledge to mothers everywhere, regardless of nationality.

  p.upper__text-under-title
    | Do you know how many countries recognize Mother’s Day? Or, how many countries recognize International Women’s Day instead? (And once you know, of course you’ll wonder why).

  p.upper__text-under-title
    | Ever wonder why Mother’s Day is more prominent than Father’s Day? Did you know that Mother’s Day has been a national holiday more than half a century longer? Would you believe it if we told you that there always have been more mothers than fathers? Well, the evidence is literally written into our DNA.

  p.upper__text-under-title
    | While we’re not geneticists here at RewardExpert, we do love facts, stats, and figures. And we’re sure that you’ll learn something new from our fact-filled Mother’s Day infographic.
