$upper-img-width = 260px

.upper__content
  position: relative

.upper__text-under-title
  @extend .main-text
  margin-bottom: 24px
  &:last-child
    margin-bottom: 0

.upper__text-under-title--last
  +respond-to($small)
    margin-left: 0

.upper__text-main
  @extend .main-text
